body {
  margin: 0;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* main style*/
.main__container {
  max-width: 1270px;
  margin: 0 auto;
  min-height: 90vh;
  justify-content: center;
}
.home__container {
  // min-height: 90vh;
  // justify-content: center;
}
.home__content,
.home__img {
  z-index: 2;
}
/* form style*/

.form__container {
  min-width: 400px;
}

.form__content {
  justify-content: center;
  width: 100%;
  form {
      max-width: 400px;
      margin-left: 30px;
      margin-top: 30px;
  }
}

.form__button {
  background-color: #EF3340 !important;
  color: #fff !important;
  padding: 15px 20px !important;
  margin-top: 20px !important;
}
.form__button--add {
  background-color: #fff !important;
  color: #fff !important;
  padding: 0px 20px !important;
  margin-top: 15px !important;
  max-height: 50px;
}

.form__button--salud {
  color: #fff !important;
}
.form__button--disabled {
  color: #C5CBE0 !important;
  background-color: #F0F2FA !important;
}

.form__button--add-enable{
  color: #939DFF !important;

}
.form__button--remove{
  color: #A9B1D1 !important;

}
.form__button--add-disabled {
  color: #C5CBE0 !important;
}

.radio-selected {
  border:2px solid #83CC5E !important;
}

.next-step {
  > span:first-of-type {
      border-radius: 50%;
      border: 1px solid #EF3340;
      padding: 1px 2px 1px 6px;
      margin-right: 20px;
      cursor: pointer;
  }
  > span:nth-child(2) {
      color: #EF3340;
      font-weight: 400;
  }
  > span:nth-child(3) {
      color: #6E7385;
      font-weight: 400;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
